<!DOCTYPE html>
<html lang="fr">
<link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<head>
    <meta charset="UTF-8">
    <title>Modifier profil</title>
</head>
<body style="overflow-x:hidden;">
    <div th:replace="~{Common/menu_bar :: menubar}"></div>
    <div>
        <div class="p-3 row">
            <div th:if="${session.utilisateur.id == utilisateur.getId()}" class="col-3">
                <div class="border border-dark p-3 h-100 text-center" style="border-width: 2px; border-radius: 10px; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);">
                    <h3>Votre profil</h3>
                    <form method="post" th:action="@{/profil/update}" th:object="${utilisateur}">
                        <div class="form-group">
                            <label for="prenom">Prénom</label>
                            <input required th:field="*{prenom}" th:value="*{prenom}" type="text" class="form-control" id="prenom" name="prenom" placeholder="Prenom">
                        </div>
                        <div class="form-group">
                            <label for="nom">Nom</label>
                            <input required th:field="*{nom}" th:value="*{nom}" type="text" class="form-control" id="nom" name="nom" placeholder="Nom">
                        </div>
                        <div class="form-group">
                            <label for="ville">Ville</label>
                            <input required th:field="*{ville}" th:value="*{ville}" type="text" class="form-control" id="ville" name="ville" placeholder="Ville">
                        </div>
                        <div class="form-group">
                            <label for="email">Adresse email</label>
                            <input required th:field="*{email}" th:value="*{email}" type="text" class="form-control" id="email" name="email" placeholder="Adresse email">
                        </div>
                        <div class="form-group">
                            <label for="username">Nom d'utilisateur</label>
                            <input required th:field="*{pseudo}" th:value="*{pseudo}" type="text" class="form-control" id="username" name="username" placeholder="Nom d'utilisateur">
                        </div>
                        <div class="form-group">
                            <label for="password">Nouveau mot de passe ?</label>
                            <input th:field="*{password}" th:value="*{password}" type="password" class="form-control" id="password" name="password" placeholder="Mot de passe">
                        </div>
                        <button type="submit" class="btn btn-primary">Modifier profil</button>
                        <button type="button" class="btn btn-danger" id="deleteAccount">Supprimer le compte</button>
                    </form>
                </div>
            </div>
            <div th:if="${session.utilisateur.id != utilisateur.getId()}" class="col-3">
                <div class="border border-dark p-3 h-100" style="border-width: 2px; border-radius: 10px; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);" th:object="${utilisateur}">
                    <h3 class="text-center">Profil</h3>
                    <form method="post" th:action="@{/profil/update}" th:object="${utilisateur}" style="overflow-wrap: anywhere;">
                        <input type="hidden" id="utilisateurId" name="utilisateurId" th:value="*{id}">
                        <div class="form-group">
                            <h4 th:text="${utilisateur.prenomNom()}">PrénomNom</h4>
                        </div>
                        <div class="form-group">
                            <h4>
                                Nom d'utilisateur :
                                <span th:text="*{pseudo}">Nom d'utilisateur</span>
                            </h4>
                        </div>
                        <div class="form-group">
                            <h4>Ville :
                                <span th:text="*{ville}">Ville</span>
                            </h4>
                        </div>
                        <div class="form-group">
                            <h4>Email :
                                <span th:text="*{email}">Adresse email</span>
                            </h4>
                        </div>
                        <div class="form-group text-center">
                            <a th:href="@{/message/{id}(id=${utilisateur.id})}" class="btn btn-primary">Contacter</a>
                        </div>
                    </form>
                    <div th:if="${session.utilisateur.isSuperAdmin()}" class="text-center">
                        <label class="form-check-label" for="switchRole">
                            <input th:checked="${utilisateur.getRole() == 'admin'}" class="form-control" type="checkbox" role="switch" id="switchRole">
                            Passer admin
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="border border-dark p-3" style="border-width: 2px; border-radius: 10px; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);">
                    <h3 th:if="${session.utilisateur.id == utilisateur.getId()}">Liste de vos ressources</h3>
                    <h3 th:unless="${session.utilisateur.id == utilisateur.getId()}">
                        Liste des ressources de l'utilisateur
                        <span th:text="${utilisateur.nomPrenom()}"/>
                    </h3>
                    <div style="overflow-y:auto;height:31rem;">
                        <input
                            type="text"
                            class="form-control"
                            id="ressourceSearch"
                            name="ressourceSearch"
                            placeholder="Rechercher une ressource"
                        />
                        <table class="table table-striped" id="ressourceTable">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Type</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="ressource : ${utilisateur.getRessources()}">
                                    <td th:text="${ressource.nom}"></td>
                                    <td th:text="${ressource.description}"></td>
                                    <td th:text="${ressource.type}"></td>
                                    <td>
                                        <a th:if="${session.utilisateur.id == utilisateur.getId()}" th:href="@{/ressource/edit/{id}(id=${ressource.id})}" class="btn btn-primary">Modifier</a>
                                        <a th:if="${session.utilisateur.id == utilisateur.getId()}" th:href="@{/ressource/delete/{id}(id=${ressource.id})}" class="btn btn-danger">Supprimer</a>
                                        <a th:if="${session.utilisateur.id != utilisateur.getId()}" th:href="@{/demandeEmprunt/create/{id}/{utilisateurId}(id=${ressource.id},utilisateurId=${utilisateur.getId()})}" class="btn btn-primary">Emprunter</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-3 row" th:if="${session.utilisateur.id == utilisateur.getId()}">
            <div class="col">
                <div class="border border-dark p-3" style="border-width: 2px; border-radius: 10px; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);">
                    <h3>Demande d'emprunt envoyés</h3>
                    <div class="row">
                        <div class="col">
                            <h5>En attente</h5>
                            <div style="overflow-y:auto;max-height:31rem;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Ressource</th>
                                            <th>Propriétaire</th>
                                            <th>Période</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="demandeEmprunt : ${utilisateur.getDemandesEmpruntEnvoyeesEnAttente()}" style="background-color:rgb(173,221,255);">
                                            <td th:text="${demandeEmprunt.ressource.nom}"></td>
                                            <td th:text="${demandeEmprunt.proprietaire.nomPrenom()}"></td>
                                            <td th:text="${#dates.format(demandeEmprunt.date_debut, 'dd/MM/yyy') + ' au ' + #dates.format(demandeEmprunt.date_fin, 'dd/MM/yyy')}"></td>
                                            <td>
                                                <a th:if="${demandeEmprunt.demandeur.id == session.utilisateur.id}" th:href="@{/demandeEmprunt/delete/{id}(id=${demandeEmprunt.id})}" class="btn btn-danger">Annuler</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col">
                            <h5>Réponses</h5>
                            <div style="overflow-y:auto;max-height:31rem;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Ressource</th>
                                            <th>Propriétaire</th>
                                            <th>Période</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="demandeEmprunt : ${utilisateur.getDemandesEmpruntEnvoyeesRepondues()}" th:if="${demandeEmprunt.statut != 'en attente'}" th:style="${demandeEmprunt.statut == 'refusee' ? 'background-color:rgb(255,173,173);' : 'background-color:rgb(173,255,182);'}">
                                            <td th:text="${demandeEmprunt.ressource.nom}"></td>
                                            <td th:text="${demandeEmprunt.proprietaire.nomPrenom()}"></td>
                                            <td th:text="${#dates.format(demandeEmprunt.date_debut, 'dd/MM/yyy') + ' au ' + #dates.format(demandeEmprunt.date_fin, 'dd/MM/yyy')}"></td>
                                            <td>
                                                <a th:if="${demandeEmprunt.demandeur.id == session.utilisateur.id || demandeEmprunt.proprietaire.id == session.utilisateur.id}" th:href="@{/demandeEmprunt/delete/{id}(id=${demandeEmprunt.id})}" class="btn btn-danger">Annuler</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-3 row" th:if="${session.utilisateur.id == utilisateur.getId()}">
            <div class="col">
                <div class="border border-dark p-3" style="border-width: 2px; border-radius: 10px; box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);">
                    <h3>Demande d'emprunt reçues</h3>
                    <div class="row">
                        <div class="col">
                            <h5>En attente</h5>
                            <div style="overflow-y:auto;max-height:31rem;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Ressource</th>
                                            <th>Demandeur</th>
                                            <th>Période</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="demandeEmprunt : ${utilisateur.getDemandesEmpruntRecuesEnAttente()}" th:if="${demandeEmprunt.statut == 'en attente'}" style="background-color:rgb(173,221,255);">
                                            <td th:text="${demandeEmprunt.ressource.nom}"></td>
                                            <td th:text="${demandeEmprunt.demandeur.nomPrenom()}"></td>
                                            <td th:text="${#dates.format(demandeEmprunt.date_debut, 'dd/MM/yyy') + ' au ' + #dates.format(demandeEmprunt.date_fin, 'dd/MM/yyy')}"></td>
                                            <td>
                                                <a th:if="${demandeEmprunt.proprietaire.id == session.utilisateur.id}" th:href="@{/demandeEmprunt/accept/{id}(id=${demandeEmprunt.id})}" class="btn btn-success">Accepter</a>
                                                <a th:if="${demandeEmprunt.proprietaire.id == session.utilisateur.id}" th:href="@{/demandeEmprunt/refuse/{id}(id=${demandeEmprunt.id})}" class="btn btn-danger">Refuser</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col">
                            <h5>Répondues</h5>
                            <div style="overflow-y:auto;max-height:31rem;">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Ressource</th>
                                        <th>Demandeur</th>
                                        <th>Période</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="demandeEmprunt : ${utilisateur.getDemandesEmpruntRecuesRepondues()}" th:if="${demandeEmprunt.statut != 'en attente'}" th:style="${demandeEmprunt.statut == 'refusee' ? 'background-color:rgb(255,173,173);' : 'background-color:rgb(173,255,182);'}">
                                            <td th:text="${demandeEmprunt.ressource.nom}"></td>
                                            <td th:text="${demandeEmprunt.demandeur.nomPrenom()}"></td>
                                            <td th:text="${#dates.format(demandeEmprunt.date_debut, 'dd/MM/yyy') + ' au ' + #dates.format(demandeEmprunt.date_fin, 'dd/MM/yyy')}"></td>
                                            <td>
                                                <a th:if="${demandeEmprunt.demandeur.id == session.utilisateur.id || demandeEmprunt.proprietaire.id == session.utilisateur.id}" th:href="@{/demandeEmprunt/delete/{id}(id=${demandeEmprunt.id})}" class="btn btn-danger">Annuler</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#deleteAccount').on('click', function() {
                if (confirm('Voulez-vous vraiment supprimer votre compte ?')) {
                    window.location.href = '/utilisateur/delete';
                }
            });
            $('#ressourceSearch').on('input', function() {
                var value = $(this).val().toLowerCase();
                console.log(value);
                $('#ressourceTable tbody tr').filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
            $('#switchRole').on('change', function() {
                var userId = $('#utilisateurId').val();
                $.get('/utilisateur/changeRole/' + userId, function(data, status) {
                });
            });
        });
    </script>
</body>
</html>